* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: #336699;
    display: flex;
    flex-direction: row;
}

header .logo {
    height: 50px;
    width: 10%;
    margin: 10px 0px 10px 20px;
}

header .search {
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
    height: 40px;
    margin-top: 15px;
    display: flex;
}

.search p {
    width: 20%;
    background-color: white;
    text-align: center;
    line-height: 40px;
}

.search input {
    width: 65%;
    border: 1px solid white;
}

.search button {
    width: 15%;
    border: 1px solid black;
    background-color: black;
    color: white;
}

header .icon {
    width: 10%;
    width: 10%;
    border-left: 1px solid white;
    text-align: center;
}

.icon img {
    height: 40px;
    margin-top: 15px;
    border-radius: 100px;
}